[submodule "modules/arc-mc-components"]
	path = modules/arc_mc_components
	url = https://github.com/ARC2020/arc-mc-components.git
[submodule "modules/arc-mc-ui"]
	path = modules/arc_mc_ui
	url = https://github.com/ARC2020/arc-mc-ui.git
[submodule "modules/arc-mc-ctrlsys"]
	path = modules/arc_mc_ctrlsys
	url = https://github.com/ARC2020/arc-mc-ctrlsys.git
